@model BrickManagementSystem.Main.Models.tblRequisitionForm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="~/Content/jquery.appendGrid-1.6.2.css" rel="stylesheet" />
<div id="page-inner">


        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">माग फारम</div>
                <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                        @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.CreatedBy, new { @Value = ViewBag.Author })
                                @Html.HiddenFor(model => model.RequestedDate, new { @Value = DateTime.Now })

                               
                                    <div class="col-md-4">
                                        <div class="form-group" style="padding-right:20px">
                                            @Html.LabelFor(model => model.CompanyID, "कम्पनीको नाम")
                                            @Html.DropDownListFor(model => model.CompanyID, (IEnumerable<SelectListItem>)(ViewBag.CompanyID), "कम्पनी छान्नुहोस् ।", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group" style="padding-right:20px">
                                            @Html.LabelFor(model => model.EmployeeName, "कर्मचारी नाम")
                                            @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group" style="padding-right:20px">
                                            @Html.LabelFor(model => model.Purpose, "उद्देश्य")
                                            @Html.EditorFor(model => model.Purpose, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                   <div class="LoadAndSave">
                                            <table id="tblAppendGrid"></table>
                                            <br />
                                            <button id="btnLoad" type="button">
                                                डाटा लोड गर्नुहोस् ।
                                            </button>
                                            <button id="btnSerialize" type="button">
                                                डाटा सुरक्षित गर्नुहोस् ।
                                            </button>
                                    </div>
                                <hr />
                                    <div class="form-group">
                                        <div class="col-md-6">

                                            <button type="reset" class="btn btn-danger">रिसेट गर्नुहोस् ।</button>
                                        </div>
                                        <!-- Buttons -->
                                        <div class="col-md-6">
                                            <input type="submit" value="अगाडि बढ्नुहोस् ।" id="btnSubmit" class="btn btn-success pull-right" />

                                        </div>

                                    </div>
                                </div>
                        }

                </div>
                </div>
                </div>
                </div>

    <!-- /. ROW  -->

    <!-- /. ROW  -->

   @section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.appendGrid-1.6.2.js"></script>
    <script id="jsSource" type="text/javascript">
$(function () {
    // Initialize appendGrid
    $('#btnSubmit').hide();
    $('#tblAppendGrid').appendGrid({
        caption: 'माग गरिएका सामानहरु',
        initRows: 1,
        columns: [
            { name: 'KhataNumber', display: 'खाता नं.', type: 'text', ctrlAttr: { maxlength: 100 }, ctrlCss: { width: '150px'} },
            { name: 'ItemName', display: 'विवरण', type: 'text', ctrlAttr: { maxlength: 100 }, ctrlCss: { width: '200px'} },
            { name: 'Quantity', display: 'परिमाण', type: 'text', ctrlAttr: { maxlength: 20 }, ctrlCss: { width: '50px', 'text-align': 'right' }, value: 0 },
            { name: 'Unit', display: 'एकाई', type: 'select', ctrlOptions: { 0: '{Choose}', 1: 'ओटा', 2: 'थान', 3: 'दर्जन', 4: 'किलो', 5: 'मिटर', 6: 'अन्य' }, ctrlAttr: { maxlength: 50 } },
            { name: 'Remarks', display: 'कैफियत', type: 'text', ctrlAttr: { maxlength: 100 }, ctrlCss: { width: '200px' } }
        ]
    });
   

    // Handle `Load` button click
    $('#btnLoad').button().click(function () {
        $('#tblAppendGrid').appendGrid('load', [
            { 'Album': 'Dearest', 'Artist': 'Theresa Fu', 'Year': '2009', 'Origin': 1, 'Poster': true, 'Price': 168.9, 'RecordId': 123 },
            { 'Album': 'To be Free', 'Artist': 'Arashi', 'Year': '2010', 'Origin': 3, 'Poster': true, 'Price': 152.6, 'RecordId': 125 },
            { 'Album': 'Count On Me', 'Artist': 'Show Luo', 'Year': '2012', 'Origin': 2, 'Poster': false, 'Price': 306.8, 'RecordId': 127 },
            { 'Album': 'Wonder Party', 'Artist': 'Wonder Girls', 'Year': '2012', 'Origin': 4, 'Poster': true, 'Price': 108.6, 'RecordId': 129 },
            { 'Album': 'Reflection', 'Artist': 'Kelly Chen', 'Year': '2013', 'Origin': 1, 'Poster': false, 'Price': 138.2, 'RecordId': 131 }
        ]);
    });
    // Handle `Serialize` button click
    $('#btnSerialize').button().click(function () {
        var tableData = $('#tblAppendGrid').appendGrid('getAllValue');
        var count = $('#tblAppendGrid').appendGrid('getRowCount');

        console.log(tableData);
        console.log(count);
        var serializedData = JSON.stringify(tableData);
        console.log(serializedData);
        console.log(serializedData);
        $.ajax({
            type: 'post',
            url: 'SaveItems',
            data: serializedData,
            contentType: "application/json; charset=utf-8",
            traditional: true,
            success: function (data) {
                alert("Items Added Successfully");
            },
            error: function (jQXHR) {
                debugger;
                alert(jQXHR.responseText);
            }
                
        }); 
        $('#btnSubmit').show();
    });


});
    </script>
}